.home-page {
  background: #ffffff;
  margin-top: 40px;
  padding: 70px 45px;

  .page-info {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 7px;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 50px;
    height: 280px;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    h3,
    h2,
    a {
      margin: 0;
    }

    h2,
    a {
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .block-long {
      grid-column: span 2;
      background: #ff6b6b;
      flex-direction: column;
    }

    .first {
      background: #000 url('../../images/homePage/pizza-1.jpg');
    }

    .second {
      background: #000 url('../../images/homePage/pizza-2.jpg');
    }

    .first,
    .second {
      background-size: cover;
      background-position: center;
    }

    .block-short {
      flex-direction: column;
      position: relative;
      cursor: pointer;

      h3 {
        text-transform: none;
        margin-top: 15px;
        visibility: hidden;
        font-weight: 400;
      }

      h3,
      h2 {
        transform: translateY(15px);
        transition: 0.5s all;
      }

      &:hover h3,
      &:hover h2 {
        transform: translateY(-15px);
        visibility: visible;
      }

      a {
        color: #ffffff;
        text-decoration: none;
      }
    }
  }

  .carousel {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    position: relative;
    margin-bottom: 80px;

    .carousel-wrapper {
      overflow: hidden;
      position: relative;
    }

    .carousel-card {
      display: flex;
      height: 200px;
      position: absolute;
      transition: 1s;
      z-index: -10;
    }

    .left {
      top: 0;
      left: -100%;
    }

    .right {
      top: 0;
      left: 200%;
    }

    .active {
      position: relative;
      right: 0;
      left: 0;
      z-index: 10;
    }

    img {
      width: 200px;
      object-fit: cover;
    }

    .text {
      display: flex;
      flex-direction: column;
      padding: 15px 0 0 30px;
    }

    p,
    h3 {
      margin: 0 0 15px 0;
    }

    h3 {
      text-transform: uppercase;
    }

    .name {
      margin: 0;
      text-transform: capitalize;
      font-style: italic;
    }

    .dot-picker {
      display: flex;
      justify-content: center;
      position: relative;
      transform: translateY(30px);
    }

    .dot {
      width: 10px;
      height: 10px;
      background: #cdcdcd;
      border-radius: 50%;
      margin: 0 5px;
      cursor: pointer;

      &.active {
        background: #333333;
      }
    }

    .arrow {
      position: absolute;
      font-size: 80px;
      color: #cdcdcd;
      opacity: 0;
      background: none;
      border: none;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      z-index: 20;

      &:hover {
        opacity: 100%;
      }
    }

    .arrow-left {
      left: 0;
    }

    .arrow-right {
      right: 0;
    }
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;

    .img-wrapper {
      position: relative;
      background: #333333;
      max-width: 200px;
      max-height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
    }

    .gallery-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    .img-wrapper:hover {
      img {
        opacity: 40%;
      }

      .icons {
        opacity: 100%;
      }
    }

    .icons {
      position: absolute;
      opacity: 0%;
      transition: 0.2s;
    }

    .fas {
      font-size: 15px;
      z-index: 2;
      color: #fff;
      margin: 0 7px;
      transition: 0.4s;
    }

    a:hover > .fas {
      transform: scale(1.6);
      color: $main-color;
    }

    ~ .view-more {
      margin-top: 20px;
      color: $main-color;
      transition: 0.2s;

      &:hover,
      &:focus,
      &:active {
        font-size: 1.08em;
      }
    }
  }
}
